{% extends 'base.html' %}

{% load static %}

{% block title %}Meeting: {{ meeting.title }}{% endblock %}

{% block content %}
    <div id="content-image">
        <img src="{% static 'website/meeting-set.png' %}" width="100px">
    </div>
    <div id="content-container">
        <h1>Meeting: {{ meeting.title }}</h1>
        <p>This meeting has been scheduled on {{ meeting.date }}, at {{ meeting.start_time }}</p>
        <p>in <strong>{{ meeting.room }}</strong> for {{ meeting.duration }} hours.</p>

        <p><a href="{% url 'welcome' %}">Home</a></p>
    </div>
{% endblock %}